@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('/lib/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: 0.9;
        background-color: rgba(0, 0, 0, 0.5); /* Opacity set to 50% */


    }

    .white-background {
        background-color: white;
        padding: 3px 6px; /* Anda bisa menyesuaikan padding sesuai keinginan */
    }

</style>

<div class="text-center">
    <h1 class ="display-6">
        <img src="/lib/Logo.jpg" alt="Nama Gambar" class="gambar-h1">
    </h1>
    <h1 class="display-4">
        
        <span class="white-background">Total Bangun Persada</span>
    </h1>

    <h2 class="display-2">
        <span class="white-background">SPR Report</span>
    </h2>

    <p class ="white-background">Test Rekrutmen Software Developer Dept IT.</p>
</div>
