@model TotalSprReport.Models.ViewModel.EditHeaderViewModel

@{
    ViewData["Title"] = "Edit Header SPR";
}

<h1>Edit Header SPR</h1>

<form id="updspr" method="post">
    <input type="hidden" asp-for="ProyekId" />
    <div class="form-group">
        <label asp-for="Peminta" class="control-label">Peminta</label>
        <input asp-for="Peminta" class="form-control" />
        <span asp-validation-for="Peminta" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TanggalMinta" class="control-label">Tanggal Minta</label>
        <input asp-for="TanggalMinta" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="TanggalMinta" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LokasiPeminta" class="control-label">Lokasi Peminta</label>
        <input asp-for="LokasiPeminta" class="form-control" />
        <span asp-validation-for="LokasiPeminta" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Simpan</button>
</form>

<a asp-action="Index">Kembali ke Daftar SPR</a>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
             var url = window.location.pathname;
            var sprId = url.substring(url.lastIndexOf('/') + 1);
            // Mengisi nilai ProyekId ke elemen dengan id 'ProyekId'
            $('#SprId').val(sprId);
            // Validasi form saat tombol "Simpan" ditekan
            $('#updspr').submit(function (e) {
                e.preventDefault();
                var peminta = $('#Peminta').val();
                var tanggalMinta = $('#TanggalMinta').val();
                var lokasiPeminta = $('#LokasiPeminta').val();

                
                if (!peminta || !tanggalMinta || !lokasiPeminta) {
                    alert('Semua field harus diisi!');
                    return;
                }

                // Membuat objek data untuk dikirim sebagai JSON
                var dataToSend = {
                    Id: sprId,
                    Peminta: peminta,
                    TanggalMinta: tanggalMinta,
                    LokasiPeminta: lokasiPeminta
                };

                // Mengirim data ke controller menggunakan metode POST
                $.ajax({
                    type: 'POST',
                    url: '/HeaderSPR/UpdateHeader', 
                    data: JSON.stringify(dataToSend),
                    contentType: 'application/json',
                    success: function (response) {
                        window.location.href = '/Proyek';
                       
                    },
                    error: function () {
                        alert('Terjadi kesalahan saat mengirim data form.');
                    }
                });
            });
        });
    </script>
}
