@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Total Bangun Persada</h1>
    <h2 class="display-2">SPR Report</h2>
    <p>Test Rekrutmen Software Developer Dept IT.</p>
</div>
